<?xml version="1.0"?>
<ruleset name="Custom Standard" namespace="MyProject\CS\Standard">
    <description>A custom coding standard</description>
    <arg name="basepath" value="./"/>
    <file>.</file>
    <exclude-pattern>/vendor/*</exclude-pattern>
    <rule ref="PSR12"/>
</ruleset>
